/*Body de la page*/
.section{
  background-image: url("../../public/img/background/forest.jpg");
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: space;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  }
  
  /*Container pour les images*/
  .container{
    width: 75%;
    height: auto;
    display: flex;
    margin: auto;
    padding: auto;
    justify-content: center;
    position: relative;
  }
  
  /*Titre de la page*/
  .title {
      font-size: 80px;
      font-weight: bold;
      display: flex;
      justify-content: space-around;
      margin: auto;
      width: auto;
      text-align: center;
  }
  
  /*Description du projet*/
  .description {
      font-size: 30px;
      font-weight: bold;
      font-family: 'Josefin Sans', sans-serif;
      display: flex;
      justify-content: space-around;
      margin: auto;
      margin-top:1rem ;
      width: 75%;
  }
  
  /*Le reste des autres image de la page*/
  .img {
      width: 100%;
      height: auto;
      border: 2px solid black;
      padding: 0;
      margin: auto;
      display: flex;
      justify-content: space-around;
      transition: .5s ease;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  /*Permet de donner de l'espace a mon bouton*/
  .divButton{
    display: flex;
      margin: 2rem;
      width: 6rem;
      text-decoration: none;
      justify-content: space-around;
  }
  
  /*Bouton de retour vers la page precedente*/
  /*Reference: https://getcssscan.com/css-buttons-examples*/
  .buttonpushable {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    text-decoration: none;
  }
  .buttonshadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  }
  .buttonedge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
      to left,
      hsl(340deg 100% 16%) 0%,
      hsl(340deg 100% 32%) 8%,
      hsl(340deg 100% 32%) 92%,
      hsl(340deg 100% 16%) 100%
    );
  }
  .buttonfront {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: rgb(0, 0, 0);
    background: hsl(345deg 100% 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  }
  @media (min-width: 768px) {
  .buttonfront {
    font-size: 1.25rem;
    padding: 12px 42px;
  }
  }
  .buttonpushable:hover {
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
  }
  .buttonpushable:hover .buttonfront {
  transform: translateY(-6px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
  }
  .buttonpushable:active .buttonfront {
  transform: translateY(-2px);
  transition: transform 34ms;
  }
  .buttonpushable:hover .buttonshadow {
  transform: translateY(4px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
  }
  .buttonpushable:active .buttonshadow {
  transform: translateY(1px);
  transition: transform 34ms;
  }
  .buttonpushable:focus:not(:focus-visible) {
  outline: none;
  }
  
  @media (max-width: 990px) {
    .title{
      font-size: 50px;
      min-width: 300px;
    }
    .description{
      font-size: 20px;
      min-width: 300px;
    }
  }