/*Body de la page*/
.section{
    background-image: url("../public/img/background/grayHexa.jpg");
    min-width: min-content;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-repeat: repeat;
}

/* Contact area */
.textarea { 
  resize:vertical;
  width: 100%;
  min-height: 100px;
  margin-bottom: 0px;
}
.contactInfo{
  margin-bottom: .3rem;
  width: 100%;
}
.form{
  margin: auto;
  width: 50%;
  min-width: 300px;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Josefin Sans', sans-serif;
}
.buttonSend{
  width: 100%;
  background:#CC6666;
  border:2px solid #c84d4d;
  border-radius:5px;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:15px;
  padding-bottom:10px;
  transition: all 0.3s;
  font-weight:700;
}
.buttonSend:hover{
  background:#CC4949;
}
/*Reference: https://codepen.io/ZachSaucier/pen/jOwNvO */
.feedbackInput {
  color:white;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background:rgb(30,30,40);
  border:2px solid #CC6666;
  transition: all 0.3s;
  padding: 13px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

/*Titre de la page*/
.title {
    font-size: 80px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 0;
}

/*Description du projet*/
.description {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 0;
    width: 75%;
}

/*Navigation entre les choix*/
.nav{
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 100%;
}
.ul{
  padding-inline-start: 0px;
}
.li {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
    width: auto;
    cursor: pointer;
    margin: auto;
    list-style: none;
    text-decoration: none;
    text-align: center;
}

.error{
  color: red;
  font-size: large;
  margin: auto;
}
.sent{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2rem;
  color: rgb(198, 0, 0);
}

/*Bouton de retour vers la page precedente*/
/*Reference: https://getcssscan.com/css-buttons-examples*/
.buttonpushable {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-decoration: none;
}
.buttonshadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}
.buttonedge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    hsl(340deg 100% 16%) 0%,
    hsl(340deg 100% 32%) 8%,
    hsl(340deg 100% 32%) 92%,
    hsl(340deg 100% 16%) 100%
  );
}
.buttonfront {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 1.1rem;
  color: rgb(0, 0, 0);
  background: hsl(345deg 100% 47%);
  will-change: transform;
  transform: translateY(-4px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}
@media (min-width: 768px) {
.buttonfront {
  font-size: 1.25rem;
  padding: 12px 42px;
}
}
.buttonpushable:hover {
filter: brightness(110%);
-webkit-filter: brightness(110%);
}
.buttonpushable:hover .buttonfront {
transform: translateY(-6px);
transition:
  transform
  250ms
  cubic-bezier(.3, .7, .4, 1.5);
}
.buttonpushable:active .buttonfront {
transform: translateY(-2px);
transition: transform 34ms;
}
.buttonpushable:hover .buttonshadow {
transform: translateY(4px);
transition:
  transform
  250ms
  cubic-bezier(.3, .7, .4, 1.5);
}
.buttonpushable:active .buttonshadow {
transform: translateY(1px);
transition: transform 34ms;
}
.buttonpushable:focus:not(:focus-visible) {
outline: none;
}
.divButton{
  display: flex;
    margin: 2rem;
    width: 6rem;
    text-decoration: none;
    justify-content: space-around;
}

@media (max-width: 990px) {
  .title{
    font-size: 50px;
    margin: 0;
  }
  .description{
    font-size: 20px;
    margin-top: 1rem;
    margin-bottom: 0;
  }
  .li{
    font-size: 20px;
    margin: 1rem;
  }
}