.demande{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    border: 1px solid black;
    background-color: rgb(252, 152, 202);
    position: fixed;
    height: 6rem;
    width: 100%;
    top: 0;
    left: 0;
}

.contenu{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
}

.image{
    min-width: 3rem;
    width: 3rem;
    height: auto;
}

.installer{
    border-radius: 1rem;
    padding: .5rem;
}
.installer:hover{
    background-color: rgb(176, 179, 182);
    cursor: pointer;
}

.fermer{
    border-radius: 1rem;
    padding: .5rem;
    width: 3.2rem;
    height: 3.2rem;
}
.fermer:hover{
    background-color: rgb(176, 179, 182);
    cursor: pointer;
}