/*Reference Background shading: https://www.webtips.dev/making-a-jumping-box-animation-using-only-css */
html {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
*,*::before,*::after{
  box-sizing: inherit;
}
body{
  min-height: 100vh;
  font-family: 'Permanent Marker', cursive;
  padding: 0;
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
}
header{
  padding: 0;
  margin: 0;
}
p{
  padding: 0;
  margin: 0;
}
ul{
  list-style: none;
}
main{
  width: 100%;
  height: 100vh;
}

@media (max-width: 990px) {
  
  body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
  div{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
  }
  
}
