/*Navigation entre les choix*/
.nav{
    width: max-content;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-top: 7rem;
    padding-top: 7rem;
}
.li {
    display: flex;
    font-size: 120px;
    width: 650px;
    cursor: pointer;
    padding-left: 5rem;
    margin: 0;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(44, 44, 44);
    list-style: none;
    position: relative;
    overflow: visible;
    flex-wrap: nowrap;
    z-index: 1;
    -webkit-text-stroke-width: 0px;
    text-decoration: none;
}

/*Body de la page*/
.section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.background{
    z-index: -1;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-repeat: repeat;
    object-fit: cover;
}
.div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: fit-content;
    padding-right: 5rem;
    margin: auto;
}
.ul{
  padding-inline-start: 0px;
}

/*Image de moi qui saute*/
.img {
    width: 350px;
    height: auto;
    padding: 0;
    z-index: 0;
    overflow: hidden;
}

/*Petite animation pour les elements de liste*/
.grow{
    transition: all .3s ease-in-out;
}
.grow:hover{
    transform: translateX(40px);
}

/*Animation qui permet d'afficher le texte principaux avec transition*/
.contact:hover:after{
    content: "Contacts.";
    color: rgb(192, 5, 5);
    padding: 0;
    margin: 0;
}
.project:hover:after {
    content: "Projects.";
    color: rgb(192, 5, 5);
    padding: 0;
    margin: 0;
}
.about:hover:after{
    content: "About me.";
    color: rgb(192, 5, 5);
    padding: 0;
    margin: 0;
    white-space: nowrap;
}
.welcome:after{
    content: "Welcome";
    padding: 0;
    margin: 0;
    color: rgb(0, 0, 0);
    animation-delay: 0s;
    animation-name: phoneSize1;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    white-space: nowrap;
}
.toMy::after{
    content: "to my";
    padding: 0;
    margin: 0;
    color: rgb(0, 0, 0);
    animation-delay: 0s;
    animation-name: phoneSize2;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    white-space: nowrap;
}
.universe:after{
    content: "universe";
    padding: 0;
    margin: 0;
    color: rgb(0, 0, 0);
    animation-delay: 0s;
    animation-name: phoneSize3;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    white-space: nowrap;
}

/*Reference: https://codepen.io/w3core/pen/ZbJeXm */
@keyframes jump {
    0% { transform: translateY(0);}
    3% { transform: translateY(20px);}
    10% { transform: translateY(-120px);}
    14% { transform: translateY(0);}
    16% { transform: translateY(-50px);}
    18% { transform: translateY(0);}
    20% { transform: translateY(-15px);}
    22% { transform: translateY(0);}
    24% { transform: translateY(-7px);}
    26% { transform: translateY(0);}
    100%{transform: translateY(0);}
    
}
.jump {
    animation: jump 4.5s infinite ease-in-out;
}

/*Permet de modifier le hover et de montrer les choix de pages sur petite ecran*/
@keyframes phoneSize1 {
    0%{  color: rgb(0, 0, 0);}
    50% { content: "Contact."; color: rgb(192, 5, 5);}
}
@keyframes phoneSize2 {
    0%{  color: rgb(0, 0, 0);}
    50% { content: "Projects."; color: rgb(192, 5, 5);}
}
@keyframes phoneSize3 {
    0%{  color: rgb(0, 0, 0);}
    50% { content: "About me."; color: rgb(192, 5, 5);}
}

/*Css pour petite ecran*/
@media (max-width: 990px) {
    .li {
        font-size: 50px;
        margin-bottom: 2rem;
        width: 200px;
        padding: 0;
    }
    .nav{
        width: 200px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
        margin-top: 0;
    }
    .section{
        flex-direction: column;
        justify-items: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right;
    }
    .img{
        padding-top: auto;
        width: 180px;
        margin-left: 30%;
    }
    .welcome:after{
        animation-delay: 6s;
        animation-name: phoneSize1;
        animation-duration: 12s;
        animation-iteration-count: infinite;
    }
    .toMy:after{
        animation-delay: 6s;
        animation-name: phoneSize2;
        animation-duration: 12s;
        animation-iteration-count: infinite;
    }
    .universe:after{
        animation-delay: 6s;
        animation-name: phoneSize3;
        animation-duration: 12s;
        animation-iteration-count: infinite;
        white-space: nowrap;
    }
}
