
/*Body de la page*/
.section{
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.Wrap {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    background-image: url("../public/img/clouds.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

/*Premiere image montrer sur la page*/
.img1 {
  width: 50rem;
  height: auto;
  border: 2px solid black;
  padding: 0;
  margin: auto;
  display: flex;
  justify-content: space-around;
  transition: .5s ease;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*Permet de montrer le lien du shop de mon projet*/
.container:hover .img1 {
    opacity: 0.5;
  }

.container:hover .middle{
  -webkit-animation: 0;
  opacity: 1;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    width: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50% );
    animation-delay: 0s;
    animation-name: animation;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}
.container{
    width: 50rem;
    height: auto;
    display: flex;
    margin: auto;
    padding: 1rem;
    justify-content: center;
    flex-direction: row;
    position: relative;
    box-shadow: none;
}
.text {
    background-color: #4fe254;
    border-radius: 3rem;
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding: 16px 32px;
    cursor: pointer;
}

/*Bouton de retour vers la page precedente*/
/*Reference: https://getcssscan.com/css-buttons-examples*/
.buttonpushable {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-decoration: none;
}
.buttonshadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}
.buttonedge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    hsl(340deg 100% 16%) 0%,
    hsl(340deg 100% 32%) 8%,
    hsl(340deg 100% 32%) 92%,
    hsl(340deg 100% 16%) 100%
  );
}
.buttonfront {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 1.1rem;
  color: rgb(0, 0, 0);
  background: hsl(345deg 100% 47%);
  will-change: transform;
  transform: translateY(-4px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}
@media (min-width: 768px) {
.buttonfront {
  font-size: 1.25rem;
  padding: 12px 42px;
}
}
.buttonpushable:hover {
filter: brightness(110%);
-webkit-filter: brightness(110%);
}
.buttonpushable:hover .buttonfront {
transform: translateY(-6px);
transition:
  transform
  250ms
  cubic-bezier(.3, .7, .4, 1.5);
}
.buttonpushable:active .buttonfront {
transform: translateY(-2px);
transition: transform 34ms;
}
.buttonpushable:hover .buttonshadow {
transform: translateY(4px);
transition:
  transform
  250ms
  cubic-bezier(.3, .7, .4, 1.5);
}
.buttonpushable:active .buttonshadow {
transform: translateY(1px);
transition: transform 34ms;
}
.buttonpushable:focus:not(:focus-visible) {
outline: none;
}
.divButton{
  display: flex;
    margin: 2rem;
    width: 6rem;
    height: auto;
    text-decoration: none;
    justify-content: space-around;
    white-space: nowrap;
}

/*Permet de modifier le hover et de montrer les choix de pages sur petite ecran*/
@keyframes animation {
  0%{ opacity: 0; }
  50% { opacity: 1; }
  100%{ opacity: 0; }
}

@media (max-width: 990px) {
  .container{
    width: 20rem;
  }
  .img1{
    opacity: 0.8;
    width: 20rem;
  }
  .middle{
    opacity: 1;
    height: 2.5rem;
    width: fit-content;
  }
}